
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1D1D1F;
}

.header {
  background-color: black;
  color: white;
  width: 100%;
}

.container {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    min-height: 100vh;
}

.conteudo {
    grid-column: span 9;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 0px;
    margin: 0;
    width: 100%;
}

.vazio {
    background-color: rgb(29, 29, 31);
    grid-column: span 1;
}

.navbar {
    display: flex;
    background-color: #141416;
    grid-column: span 2;
    padding: 20px;
    
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.534);
    font-size: 0.95em;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 8px;
    transition: border-color 0.2s ease;
    cursor: pointer;
}

